# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environment
venv/
env/

# IDE files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

signalfloweeg/book/_book/

# macOS
.DS_Store


ca1.crt
ca2.crt
ca3.crt
ca4.crt
ca5.crt
ca6.crt
